<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <p id="notification-bar"></p>

    <form id="myForm">
        <label>Title:</label><br/>
        <input name="note_title" title="title"><br/>

        <label>Note Content:</label><br/>
        <textarea name="note_content" title="content"></textarea><br/>

        <button type="submit">Submit</button>
    </form>

    <div id="notesDisplay"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>